/* цвет основного текста #2E2F42 */
/* вторичный цвет #434455 */
/* белый цвет #FFFFFF */
/* цвет хедера(лого) #4D5AE5 */
/* цвет футера #F4F4FD  */
/* акцент #4D5AE5 */
:root {
    --primary-text-color: #4D5AE5;
    --dark-text-color: #2E2F42;
    --success-text-color: #31D0AA;
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-text-color: #E7E9FC;
    --light-text-color: #F4F4FD; 
    --light-color: #FFFFFF;
    --Pressed-state: #404BBF;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--light-color);
    color : var(--text-color);
}

.container {
    margin: 0 auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-main.container {
    margin: 0 auto;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-main {
    margin: 0 auto;
    display: flex;
    width: 1158px;
    padding: 0 15px;
}
.logo {
    font-family: "Raleway", sans-serif;    
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-right: 76px;
}
.logo-studio {
color: #2e2f42;
}

.auth-nav {
    display: flex;
    gap: 40px;
}
.link {
    text-decoration: none;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.list {
    list-style: none;
}

/* site-nav  */
.site-nav {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
    color: var(--dark-text-color);
    position: relative;
}
.list-link {
    color: #404bbf;
} 
.list-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -25px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
} 

.site-nav .link:hover, 
.site-nav .link:focus {
    color: #404bbf;
}

.social {
    margin-left: auto;
    display: block;
    font-style: normal;
}
.email {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
}
.email:hover,
.email:focus {
    color:  #404bbf;
}
.hero {
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    background-color: #2E2F42;
    padding: 188px 0;
    margin: 0 auto;
}
.hero-btn {
    display: block;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}
.hero-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
.section {
    padding: 120px 0;
}
.section-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}
.section-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.work-list {
    display: flex;
    gap: 24px;
}

.title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.paragraff {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

/* NAVY BLUE */

color: #2E2F42;
}
.section-item {
    flex-basis: calc((100% - 72px) / 4);
}
.features-list {
    display: flex;
    gap: 24px;
}
.features-list .title {
    color: #2E2F42;
}
.work {
    padding-bottom: 120px;
}
.work-item {
    flex-basis: calc((100% - 3 * 16px) / 3);
}

.team {
    background-color: var(--light-text-color);
    padding: 120px 0;
}
.team-list {
    display: flex;
    background-color: #FFFFFF;
    gap: 24px;
}
.person {
    flex-basis: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px; 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.person-name {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-text-color)
}
.person-list {
    border-radius: 0px 0px 4px 4px;
}
.person-card {
    padding: 32px 16px;
}
.person-card-icon {
    fill: var(--light-text-color);
}
.person-card-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.person-card-item {
    width: 40px;
    height: 40px;
}
.person-card-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.person-card-link:hover,
.person-card-link:focus {
    background-color: #404bbf;
}
.person-p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.section-title-team {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

/* NAVY BLUE */

color: #2E2F42;
}
.section-team-list {
    display: flex;
    gap: 24px;
}
.container-teams {
    padding: 32px 16px;
}
.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}
.customers-title {
    font-size: 36px;
    line-height: 1.11;
    color: var(--dark-text-color);
    margin-bottom: 72px;
    text-align: center;

}
.customers-list {
    display: flex;
    gap: 24px;
}
.customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;

}
.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--subtle-text-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
    border-color: #404bbf;
    color: #404bbf;
}
.customers-icon {
    fill: currentColor;
}
.footer {
    padding: 100px 0;
    background-color: var(--dark-text-color)
}

.link.logo-footer {
display: inline-block;
}
.logo-footer {
display: inline-block;
margin-bottom: 16px;
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}
.footer-logo-studio {
    color: #f4f4fd;
}
.footer-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.02em;

/* CLOUD */

color: #F4F4FD;
    max-width: 264px;
}
.footer-icon {
    fill: var(--light-text-color);
}
.site-nav .list .link {
    color: var(--dark-text-color);
}
.btn {
    padding: 12px 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    color: var(--primary-text-color);
    background-color: var(--light-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
    border: 1px solid transparent;
    color: white;
    background-color: #404BBF;
    ;
}
.btn:focus {
    border: 1px solid transparent;
}
.other-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-text-color);
}
.page {
    border-bottom: 1px solid #e7e9fc;
}
.page-container {
    display: flex;
}
.page-nav {
    display: flex;
    align-items: center;
}
.page-section {
    padding-top: 96px; 
    padding-bottom: 120px;
}
.button {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.hero-btn.btn {
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
}
.hero-btn.btn:hover,
.hero-btn.btn:focus {
    border: 1px solid transparent;
}
.btn:first-child:hover {
    box-shadow:  0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn:first-child:focus {
    box-shadow:  0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.app {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.list-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.app-card {
    position: relative;
    overflow: hidden;
}
.other-h {
    margin-bottom: 8px;
}
.app-list {
    width: calc((100% - 48px) / 3); 
}
.portfolio-link:hover .portfolio-card {
    transform: translateY(0);
}
.portfolio-link:focus .portfolio-card {
    transform: translateY(0);
}
.foot-cont {
    margin-right: 120px;
}
.media-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
    margin-bottom: 16px;
}
.footer-search {
padding-left: 80px;
}
.p-search {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #ffffff; 
}
.form-search {
    display:flex;
    gap: 24px;
}
.footer-search-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent; 
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
    border-radius: 4px; 
    color: #ffffff; 
}
.footer-search-input::placeholder {
    color: #ffffff;
}
.footer-button-search {
    min-width: 165px;
    height: 40px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}
.footer-svg-search {
    margin-left: 16px;
}
.media-list {
    display: flex;
    gap: 16px;
}
.media-item {
    width: 40px;
    height: 40px;
}
.media-icon {
    width: 100%;
    height: 100%;
    background-color: var(--primary-text-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-icon:focus,
.media-icon:hover {
    background-color: #31d0aa;
}
.foot-container {
    display: flex;
    align-items: baseline;
}
.portfolio-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}
.portfolio-card:focus {
    background-color: #31D0AA;
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}
.portfolio-card {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-text-color);
    padding: 40px 32px;
    background-color: #4D5AE5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}
.modal-close:hover {
    background-color: #404bbf;
    border: none;
}
.modal-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .modal-svg {
    fill: #ffffff;
}
.modal-close:focus .modal-svg {
    fill: #ffffff;
}
.modal-title {
    font-size: 16px;
    color: #2E2F42;
    font-weight: 500;
    text-align: center;
    margin-top: 72px;
    margin-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.modal-field {
margin-bottom: 8px;
}

.modal-fields {
    margin-bottom: 16px;
}
.input-wrap {
position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
    border-color: #4D5AE5; 
}
.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}
.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label {

}
.input-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text-color);
    display: block;
    margin-bottom: 4px;    
}
.modal-area {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-area:focus {
    border-color: #4D5AE5; 
}
.modal-privacy {
    margin-bottom: 24px;
}
.label-privacy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text-color);
}
.span-privacy {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.modal-check:checked + .label-privacy .span-privacy {
    background-color:var(--Pressed-state);
    border: none;
    fill: var(--light-text-color);
}
.a-privacy {
    color: var(--primary-text-color);
}
.button-privacy {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}